<template>
  <div align="center">
    <br>
    <h1>条件分岐画面</h1>
    <br><br>
    <!--曜日選択チェックボックス -->
    <b-form-group label="曜日">
      <b-checkbox-group id="day-checkbox" v-model="day">
        <b-form-checkbox value="Monday">月</b-form-checkbox>
        <b-form-checkbox value="Tuesday">火</b-form-checkbox>
        <b-form-checkbox value="Wednesday">水</b-form-checkbox>
        <b-form-checkbox value="Thursday">木</b-form-checkbox>
        <b-form-checkbox value="Friday">金</b-form-checkbox>
      </b-checkbox-group>
    </b-form-group>
    <!-- 教科選択プルダウンメニュー -->
    <b-form-group class="col-3">
      <b-form-select id="subject" v-model="subject" :options="subjects">
      </b-form-select>
    </b-form-group>
    <br>
    <!-- 講師選択 -->
    <b-form-group class="col-3">
      <b-form-select id="grade" v-model="grade" :options="grades">
      </b-form-select>
    </b-form-group>
    <br>
    <!-- 実施場所選択 -->
    <b-form-group class="col-3">
      <b-form-select id="place" v-model="place" :options="places">
      </b-form-select>
    </b-form-group>
    <br>
    <!-- 実施場所選択 -->
    <b-form-group class="col-3">
      <b-form-select id="time" v-model="time" :options="times">
      </b-form-select>
    </b-form-group>
    <br><br>

    <b-button variant="primary">
      モード選択
    </b-button>
    <b-button variant="primary">
      条件追加
    </b-button>
    <b-button variant="primary">
      作成開始
    </b-button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      subject: null,
      subjects: [
        { value: null, text: '教科を選択' },
        { text: 'ネットワーク' },
        { text: 'ゼミ' },
        { text: '作品制作' },
        { text: 'PHP' },
        { text: 'ビジネスマナー' },
        { text: '国語表現' },
        { text: 'キャリアデザイン' },
        { text: 'ゲーム制作' },
      ],
      grade: null,
      grades: [
        { value: null, text: '講師を選択' },
        { text: '遠矢先生' },
        { text: '相薗先生' },
        { text: '桑原先生' },
        { text: '田方先生' },
        { text: '阿部先生' },
        { text: '幾留先生' },
        { text: '政倉先生' },
        { text: '森先生' },
        { text: '菊永先生' },
        { text: '永重先生' },
        { text: '野下先生' },
      ],
      place: null,
      places: [
        { value: null, text: '実施場所を選択' },
        { text: '教室' },
        { text: '3FPC' },
        { text: '4-1' },
        { text: '4-4' },
        { text: '図書室' },
      ],
      time: null,
      times: [
        { value: null, text: '授業時間を選択' },
        { text: '45分' },
        { text: '90分' },
      ],
    };
  },
};
</script>

<style>
</style>
