<template>
  <div class="select-mode">
    <b-container class="d-flex justify-content-end">
      <b-button variant="warning">
        <font-awesome-icon icon="question-circle" size="lg"/>
      </b-button>
    </b-container>
    <h1>編集・閲覧モード選択画面</h1>
      <div class="mt-3">
          <b-button-group vertical size="lg" class="col-5">
            <br><b-button>
              <font-awesome-icon icon="edit"/>  編集</b-button><br>
            <b-button>
              <font-awesome-icon icon="book-open"/>  閲覧</b-button><br>
            <b-button variant="primary">
              <font-awesome-icon icon="arrow-alt-circle-left"/>  back</b-button>
          </b-button-group>
      </div>
  </div>
</template>

<script>

</script>
