<template>
  <diV align="center">
    <br>
    <h1>学科・学年選択画面</h1>
    <br><br><br>
    <!-- 学科選択プルダウンメニュー -->
    <b-form-group class="col-3">
      <b-form-select id="subject" v-model="subject" :options="subjects">
      </b-form-select>
    </b-form-group>
    <br>
    <!-- 学年選択 -->
    <b-form-group class="col-3">
      <b-form-select id="grade" v-model="grade" :options="grades">
      </b-form-select>
    </b-form-group>
    <br><br>
    <b-button class="bg-primary">
      <font-awesome-icon icon="arrow-alt-circle-right"/>
      次へ
    </b-button>
  </diV>
</template>

<script>
export default {
  data() {
    return {
      subject: null,
      subjects: [
        { value: null, text: '学科を選択' },
        { text: 'ITスペシャリスト科' },
        { text: 'グラフィック科' },
        { text: 'TV映像音響科' },
        { text: '医療情報秘書科' },
        { text: 'こども学科' },
        { text: 'ビューティー・ウェディング科' },
        { text: '医療情報管理学科' },
        { text: '日本語科' },
        { text: 'IT専攻科' },
        { text: 'クリエイター専攻科' },
        { text: '自動車整備科' },
      ],
      grade: null,
      grades: [
        { value: null, text: '学年を選択' },
        { text: '1年' },
        { text: '2年' },
        { text: '3年' },
      ],
    };
  },
};
</script>

<style>

</style>
