<template>
  <div class="col-auto">
    <vue-good-table :columns="columns" :rows="rows" /><br>
        <b-button pressed>
          <font-awesome-icon icon="print"/> 印刷
        </b-button>
        <b-button>
          <font-awesome-icon icon="dumpster"/>
        </b-button>
        <b-button pressed>
          <font-awesome-icon icon="save"/> 保存
        </b-button>
        <b-button>
          <font-awesome-icon icon="arrow-alt-circle-left"/> 終了
        </b-button>
  </div>
</template>

<script>
export default {
  el: 'vue',
  data() {
    return {
      columns: [
        {
          label: '時間割',
          field: 'time',
          width: '100px',
          higth: '50px',
        },
        {
          label: '月曜日',
          field: 'monday',
          width: '150px',
          higth: '50px',
        },
        {
          label: '火曜日',
          field: 'tuesday',
          width: '150px',
          higth: '50px',
        },
        {
          label: '水曜日',
          field: 'wednesday',
          width: '150px',
          higth: '50px',
        },
        {
          label: '木曜日',
          field: 'thursday',
          width: '150px',
          higth: '50px',
        },
        {
          label: '金曜日',
          field: 'friday',
          width: '150px',
          higth: '50px',
        },
      ],
      rows: [
        {
          id: 1, time: '1', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 2, time: '2', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 3, time: '3', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 4, time: '4', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 5, time: '', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 6, time: '5', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
        {
          id: 7, time: '6', monday: '', tuesday: '', wednesday: '', thursday: '', friday: '',
        },
      ],
    };
  },
};
</script>
