<template>
  <div>
    学科：{{courseId}}
    学年：{{gradeId}}
    <br>
    <ul>
      <li v-for="subject in subjects" v-bind:key="subject">{{subject.subjects}}</li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      courseId: '',
      gradeId: '',
      subjects: [
      ],
    };
  },

  mounted() {
    axios.get('../data/data.json')
      .then((response) => {
        this.subjects = response.data.subjects;
      })
      .catch((error) => {
        console.log('取得に失敗', error);
      });
  },
  created() {
    this.courseId = this.$route.query.course;
    this.gradeId = this.$route.query.grade;
  },

  methods: {
  },
};
</script>
